* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  display: flex;
  justify-content: center;
  font-family: "CoolFont";
  --header: min(1.2vh, 1.2vw);
  --city: min(3.5vh, 3.5vw);
  --regularSize: min(1.5vh, 1.5vw);
  --pictureSize: min(4.5vh, 4.5vw);
  --fontMisc: min(1vh, 1vw);
  --pictureMisc: min(2.5vh, 2.5vw);
  --error: min(1.2vh, 1.2vw);
}

@font-face {
  font-family: "CoolFont";
  src: url("./PoetsenOne-Regular.ttf");
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  height: 5vh;
  width: 40vw;
  background-color: #2291b68a;
  border-radius: 15px;
  padding: 0 2vw;
  color: white;
  font-weight: bold;
  margin-top: 2vh;
  font-size: var(--header);
}

.references {
  display: flex;
  gap: 2vw;
}

a {
  color: white;
}

.main {
  height: 35vh;
  width: 40vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: #2291b68a;
  border-radius: 30px;
  padding: 0 2vw;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: min(3vw, 3vh);
  padding: 0.5vh 0.5vw;
}

#location {
  padding: 0.5vh 0.5vw;
  height: 3vh;
  width: 25vw;
  font-size: min(2vh, 2vw);
  background-color: #2291b600;
  border: none;
  font-family: "CoolFont";
  color: white;
  &:focus {
    outline: none;
  }
}

#location::placeholder {
  color: rgba(255, 255, 255, 0.445);
}

.searchLocation {
  padding: 0.3vh 0.3vw;
  height: 3vh;
  &:hover {
    cursor: pointer;
  }
}

.mainForecast {
  display: flex;
  gap: 1.5vw;
  justify-content: center;
}

.miscForecast {
  display: flex;
  gap: 2.5vw;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 2.5vh;
  font-size: var(--fontMisc);
}

.tempForecast {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 1.5vw;
}

.placeAndTime {
  display: flex;
  flex-direction: column;
  gap: 0.2vh;
}

.temperature {
  display: flex;
  align-items: center;
  font-size: var(--regularSize);
}

.temperature > img {
  width: var(--pictureSize);
  height: var(--pictureSize);
  margin-right: 0.5vw;
}

.minMax {
  display: flex;
  gap: 0.5vw;
  align-items: center;
}

.minMax > img {
  width: var(--pictureSize);
  height: var(--pictureSize);
}

.miscForecast > div > img {
  width: var(--pictureMisc);
  height: var(--pictureMisc);
}

.city {
  font-size: var(--city);
}

.place {
  font-size: var(--regularSize);
}

.miscForecast > div {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.days {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-top: 5vh;
  gap: 5vw;
  font-size: var(--regularSize);
  height: 20vh;
  width: 40vw;
  background-color: #2291b68a;
  border-radius: 30px;
}

.days > div > div > img {
  width: var(--pictureSize);
  height: var(--pictureSize);
}

.weekDay {
  margin-bottom: 1vh;
}

.max {
  font-size: min(2vh, 2vw);
}

.min {
  font-size: min(1.2vh, 1.2vw);
  margin-bottom: 1vh;
}

.futureForecast {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.errorMessage {
  height: 2vh;
  margin-bottom: 3vh;
  font-size: var(--error);
}
